@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:#1b5ab3;
}

a {
    display: inline;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;we
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.blue {
    color: #1b5ab3;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

/* 

NAVBAR

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
}

/* 

LANDING

*/

#landing {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    padding: 20px 192px 20px 32px;
}

.header__email--btn {
    z-index: 2;
    height: calc(100% - 16px);
    width: 160px;
    background-color: rgb(100, 21, 255);
    color:  rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    margin: 8px;
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.header__customers--title {
    margin-top: 80px;
    color: rgb(160, 174, 192);
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

